
body{
  background-color: #DCDCDC;
  color: rgb(136, 95, 248);
  margin: 10px;
  font-size: 20px;
}

.wrapper{
  max-width: 1000px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  padding: 20px;
  min-height: 300px;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

h1{
  font-size: 100%;
}

.button{
  margin: 20px 2px;
  padding: 10px 30px;
  background-color: rgb(99, 149, 224);
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.button:hover{
  background-color: rgb(101, 143, 221);
}

.playground{
  border: 1px solid rgb(255, 212, 212);
  min-height: 150px;
  padding: 20px;
  margin: 15px;
  font-size: 20px;
}

.q{
  margin: 30px 0;
  font-size: 1.4em;
  line-height: 1.8;
}

.bold{
  font-weight: bold;
}

.back-red{
  background-color: rgb(255, 249, 167);
}

.back-green{
  background-color: rgb(169, 247, 169);
}

.back-blue{
  background-color: rgb(117, 149, 255);
}

.boxes{
  display: flex;
  flex-wrap: wrap;
}

.box{
  margin: 10px;
  padding: 40px;
  width: 150px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}