
body{
  background-color: #DCDCDC;
  color: #333;
  margin: 10px;
  font-size: 24px;
}

.wrapper{
  max-width: 1000px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  min-height: 800px;
}

img{
  max-width: 100%;
}

li{
  list-style: none;
}

h1{
  font-size: 300%;
}

.button{
  margin: 20px 4px;
  padding: 10px 30px;
  background-color: #fcc;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.button:hover{
  background-color: #faa;
}

.playground{
  border: 2px solid #ccc;
  min-height: 600px;
  padding: 40px;
  margin: 20px;
  font-size: 30px;
}

.q{
  margin: 40px 0;
  font-size: 1.4em;
  line-height: 1.8;
}

.bold{
  font-weight: bold;
}

.back-red{
  background-color: #f00;
}

.back-green{
  background-color: #0f0;
}

.back-blue{
  background-color: #00f;
}

.boxes{
  display: flex;
  flex-wrap: wrap;
}

.box{
  margin: 20px;
  padding: 60px;
  width: 260px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}